services:
  # db:
  #   image: postgres:16
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #     - ./data/data.sql:/docker-entrypoint-initdb.d/data.sql
  #   env_file:
  #     - .env
  #   restart: always

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8199
    # volumes:
    #   - .:/app
    ports:
      - "8199:8199"
    # depends_on:
    #   - db
    restart: always

# volumes:
#   postgres_data: