{% extends "base.html" %}
{% load static %}
{% load i18n %} 

{% block title %}{% translate "Bosh sahifa" %} || {% translate "Vigonvita Toshkent" %}{% endblock title %}

{% block content %}
<section class="main-slider">
    <div
        class="swiper-container thm-swiper__slider"
        data-swiper-options='{"slidesPerView": 1, "loop": true,
                                "effect": "fade",
                                "pagination": {
                                    "el": "#main-slider-pagination",
                                    "type": "bullets",
                                    "clickable": true
                                },
                                "navigation": {
                                    "nextEl": "#main-slider__swiper-button-next",
                                    "prevEl": "#main-slider__swiper-button-prev"
                                },
                                "autoplay": {
                                    "delay": 5000
                                }}'
    >
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url({% static 'assets/images/backgrounds/main-menu-slider.png' %})"></div>
                <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>
                <div class="main-slider-shape-4"></div>
                <div class="main-slider-shape-5"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="main-slider__content">
                                <p>{% translate "Vigonvitaga xush kelibsiz" %}</p>
                                <h2>
                                    {% translate "Innovatsion <br/>Biofarmatsevtik <br/>Kompaniya" %}
                                </h2>
                                <!-- <h2>consulting <br> for every <br> business</h2> -->
                                <a href="#about" class="thm-btn">{% translate "Batafsil Ma'lumot" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="image-layer" id="onvita-3d" style="background-image: url({% static 'assets/images/backgrounds/onvita-3d.png' %})"></div>
                <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>
                <div class="main-slider-shape-4"></div>
                <div class="main-slider-shape-5"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="main-slider__content">
                                <p>phosphodiesterase type 5</p>
                                <h2 class="h3">
                                    {% translate "Kompaniyaning <br/>Innovatsion Preparati <br/>Onvita" %}
                                    {% comment %} new gen <br />
                                    medicine <br /> {% endcomment %}
                                    <span class="text-decoration-underline"></span>
                                </h2>
                                <a href="#" class="thm-btn">{% translate "Batafsil Ma'lumot" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-prev"><span class="main-slider__next-text">{% translate "Oldingi" %}</span><i class="icon-right-arrow icon-left-arrow"></i></div>
            <div class="swiper-button-next" id="main-slider__swiper-button-next"><span class="main-slider__prev-text">{% translate "Keyingi" %}</span><i class="icon-right-arrow"></i></div>
        </div>
    </div>
</section>

<!--Services One Start-->
<section class="services-one" id="about">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title wow fadeInUp" data-wow-delay="300ms">{% translate "IP MChJ VIGONVITA TOSHKENT" %}</h2>
            <span class="section-title__tagline mt-3 wow fadeInUp" data-wow-delay="300ms">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'ru' %}
                ИП ООО «VIGONVITA TASHKENT»  является дочерней компанией Vigonvita Life Sciences Co., Ltd, которая основана в январе 2013 года под руководством Сучжоуского института лекарственной медицины Китайской академии наук (SUSIMM).  Компания, ориентированная на новые клинические потребности, специализируется на разработке новых препаратов в области нервно-психической системы, лечения инфекционных заболеваний и андрологических препаратов.<br><br>
                В Комании Vigonvita работает группа исследователей и разработчиков, которую возглавляет профессор Шэнь Цзиншань, эксперт по специальным пособиям Государственного совета и профессор Шанхайского института лекарственной медицины Китайской академии наук (SIMM). Мы открыли центры исследований и разработок в Сучжоу, Шанхае и Наньтуне, в которых работает более 200 сотрудников. Из них 16 имеют степень доктора философии, а 46% – магистры и доктора.<br><br>
                Vigonvita имеет полную инновационную систему исследований и разработок лекарств, включая функциональные платформы или подразделения, такие как разработка  лекарств, оценка пригодности лекарств, доклинические исследования, клинические исследования и производство лекарств, которые могут реализовать быструю трансформацию и коммерциализацию потенциальных соединений и технологий продуктов. из лаборатории в клинику, а затем на стадию производства.<br><br>
                Vigonvita Life Sciences Co., Ltd и Сучжоуский институт материальной медицины совместно профинансировали создание Wangshan Wangshui (Lianyungang) Pharmaceutical Co., Ltd, которая служит производственной площадкой для инновационных лекарств компании с годовой производственной мощностью 450 миллионов капсул ( или 1,6 миллиарда таблеток). Также вскоре будет завершено и введено в эксплуатацию вспомогательный цех по производству API. На случай чрезвычайных ситуаций строится многофункциональная модульная производственная платформа.
                {% elif LANGUAGE_CODE == 'en' %}
                IE LLC «VIGONVITA TASHKENT» is a subsidiary of Vigonvita Life Sciences Co., Ltd, founded in January 2013 under the leadership of the Suzhou Institute of Pharmaceutical Sciences of the Chinese Academy of Sciences (SIMM). The company focuses on addressing new clinical needs and specializes in developing drugs for neuropsychiatric conditions, infectious diseases, and andrological treatments.<br><br>
                Vigonvita is home to a team of researchers and developers led by Professor Shen Jinshan, an expert under the State Council's Special Allowance Program and a professor at the Shanghai Institute of Pharmaceutical Sciences of the Chinese Academy of Sciences (SIMM). The company has established research and development centers in Suzhou, Shanghai, and Nantong, employing over 200 staff members, including 16 Ph.D. holders, with 46% of the team being master's or doctoral graduates.<br><br>
                Vigonvita has a comprehensive system for innovative drug research and development, encompassing functional platforms or divisions for drug discovery, drug suitability evaluation, preclinical studies, clinical trials, and drug manufacturing. These platforms facilitate the rapid transformation and commercialization of promising compounds and technologies from the laboratory to clinical use, and ultimately to full-scale production.<br><br>
                In collaboration with the Suzhou Institute of Pharmaceutical Sciences, Vigonvita Life Sciences Co., Ltd co-founded Wangshan Wangshui (Lianyungang) Pharmaceutical Co., Ltd, which serves as a manufacturing site for the company's innovative drugs. This facility has an annual production capacity of 450 million capsules (or 1.6 billion tablets), with an auxiliary API production workshop set to become operational soon. Additionally, a multifunctional modular production platform is under construction for emergency use.
                {% else %}
                IP MChJ «VIGONVITA TOSHKENT» 2013 yil yanvar oyida Xitoy Fanlar Akademiyasining Suzhou Tibbiyot Instituti (SUSIMM) rahbarligida tashkil etilgan Vigonvita Life Sciences Co., Ltd kompaniyasining sho'ba korxonasi hisoblanadi. Kompaniya yangi klinik ehtiyojlarga yo'naltirilgan bo'lib, neyropsikiyatrik kasalliklar, yuqumli kasalliklar va andrologik preparatlar sohasida yangi dori vositalarini ishlab chiqishga ixtisoslashgan. <br><br>
                Vigonvita Davlat Kengashining maxsus imtiyozlari bo'yicha mutaxassisi, Xitoy Fanlar Akademiyasining Shanxay Tibbiyot Instituti (SIMM) professori Shen Jingshan boshchiligida tadqiqot va ishlanmalar guruhi faoliyat yuritadi. Biz Suzhou, Shanxay va Nantong shaharlarida 200 dan ortiq xodimga ega tadqiqot va ishlanma markazlarini tashkil etdik. Ular orasida 16 nafar fan nomzodi, 46 foizi esa magistr va doktorlik darajasiga ega mutaxassislar. <br><br>
                Vigonvita to'liq innovatsion dori-darmonlarni tadqiq etish va ishlab chiqish tizimiga ega. Bu tizim dori vositalarini yaratish, ularni baholash, klinikadan oldingi va klinik tadqiqotlar, shuningdek dori vositalarini ishlab chiqarish kabi funktsional bo'linmalarni o'z ichiga oladi. Ushbu bo'linmalar yordamida laboratoriyadan klinikaga, keyin esa ishlab chiqarish bosqichiga tezkor tarzda o'tish amalga oshiriladi. <br><br>
                Vigonvita Life Sciences Co., Ltd va Suzhou Moddiy Tibbiyot Instituti birgalikda yiliga 450 million kapsula (yoki 1,6 milliard tabletka) ishlab chiqarish quvvatiga ega bo'lgan Wangshan Wangshui (Lianyungang) Pharmaceutical Co., Ltd kompaniyasini tashkil etishni moliyalashtirdi. Yaqin kelajakda yordamchi API ishlab chiqarish inshooti ham foydalanishga topshiriladi. Shuningdek, favqulodda vaziyatlar uchun ko'p funksiyali modulli ishlab chiqarish platformasi qurilmoqda.
                {% endif %}
                
            </span>
        </div>

        <div class="section-title text-center mb-4">
            <h2 class="section-title__title wow fadeInLeft" data-wow-delay="300ms" style="font-size: 40px">{% translate "Bizning Markazlar (Xitoy)" %}</h2>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="{% static 'assets/images/production-centers/suzhou.png' %}" alt="" />
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="#">Headquarter+R&D center</a></h3>
                        <p class="services-one__text">Suzhou</p>
                        <a href="#" class="services-one__btn">{% translate "Batafsil" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="600ms">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="{% static 'assets/images/production-centers/shanghai.png' %}" alt="" />
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="#">R&D center</a></h3>
                        <p class="services-one__text">Shanghai</p>
                        <a href="#" class="services-one__btn">{% translate "Batafsil" %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="{% static 'assets/images/production-centers/nantong.png' %}" alt="" />
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="#">R&D center</a></h3>
                        <p class="services-one__text">Nantong</p>
                        <a href="#" class="services-one__btn">{% translate "Batafsil" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="600ms">
                <!--Services One Single-->
                <div class="services-one__single">
                    <div class="services-one__img">
                        <img src="{% static 'assets/images/production-centers/lianyungang.png' %}" alt="" />
                    </div>
                    <div class="services-one__content">
                        <h3 class="services-one__title"><a href="#">Producon site</a></h3>
                        <p class="services-one__text">Lianyungang</p>
                        <a href="#" class="services-one__btn">{% translate "Batafsil" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services One End-->

<!--Real World Start-->
<section class="real-world">
    <div class="real-world-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms" style="background-image: url({% static 'assets/images/shapes/real-world-shape.png' %})"></div>
    <div class="container">
        <div class="section-title text-center wow fadeInDown" data-wow-delay="200ms">
            <h2 class="section-title__title">{% translate "Litsenziyalar & Patentlar" %}</h2>
            <span class="section-title__tagline">{% translate "Kompaniyamizning Litsenziyalari va Patentlari" %}</span>
        </div>

        <div class="row certificates">
            <div class="col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="200ms">
                <div class="shop-one__item">
                    <div class="shop-one__image" data-fancybox="gallery" data-caption="Business license" data-src="{% static 'assets/images/certificate/bussiness-permission.png' %}">
                        <!-- <span class="shop-one__sale">sale</span>/.shop-one__sale -->
                        <img src="{% static 'assets/images/certificate/bussiness-permission.png' %}" alt="Business license" />
                        <!-- <a href="cart.html" class="thm-btn shop-one__cart">Add to cart</a> -->
                        <!-- /.thm-btn shop-one__cart -->
                    </div>
                    <!-- /.shop-one__image -->
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title"><a href="#">Business license</a></h3>
                    </div>
                    <!-- /.shop-one__content -->
                </div>
                <!-- /.shop-one__item -->
            </div>
            <!-- /.col-md-6 col-lg-3 -->

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="shop-one__item">
                    <div class="shop-one__image" data-fancybox="gallery" data-caption="Pharmaceutical Manufacturing License" data-src="{% static 'assets/images/certificate/bussiness-permission2.png' %}">
                        <!-- <span class="shop-one__sale">sale</span>/.shop-one__sale -->
                        <img src="{% static 'assets/images/certificate/bussiness-permission2.png' %}" alt="Pharmaceutical Manufacturing License" />
                        <!-- <a href="cart.html" class="thm-btn shop-one__cart">Add to cart</a> -->
                        <!-- /.thm-btn shop-one__cart -->
                    </div>
                    <!-- /.shop-one__image -->
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title"><a href="#">Pharmaceutical Manufacturing License</a></h3>
                    </div>
                    <!-- /.shop-one__content -->
                </div>
                <!-- /.shop-one__item -->
            </div>
            <!-- /.col-md-6 col-lg-3 -->
        </div>
    </div>
</section>
<!--Real World Start-->

<!--Brand One Start-->
<section class="brand-one" >
    <div class="container">
        <h4 class="brand-one__title wow fadeInDown" data-wow-delay="200ms">{% translate "Unvonlar va Yutuqlar" %}</h4>
        <div
            class="thm-swiper__slider swiper-container wow fadeInDown"
            data-wow-delay="200ms"
            data-swiper-options='
    {"spaceBetween": 100, 
    "slidesPerView": 5, 
    "autoplay": { "delay": 5000 }, 
    "pagination": {
    "type": "bullets",
    "clickable": true
    },
    "breakpoints": {
        "0": {
            "spaceBetween": 30,
            "slidesPerView": 2
        },
        "375": {
            "spaceBetween": 30,
            "slidesPerView": 2
        },
        "575": {
            "spaceBetween": 30,
            "slidesPerView": 3
        },
        "767": {
            "spaceBetween": 50,
            "slidesPerView": 4
        },
        "991": {
            "spaceBetween": 50,
            "slidesPerView": 4
        },
        "1199": {
            "spaceBetween": 50,
            "slidesPerView": 4
        }
    }}'
        >
            <div class="swiper-wrapper">
                <div
                    class="swiper-slide"
                    data-fancybox="gallery"
                    data-caption="Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone"
                    data-src="{% static 'assets/images/honors/Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone.jpg' %}"
                >
                    <img
                        src="{% static 'assets/images/honors/Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone.jpg' %}"
                        alt="Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone"
                        title="Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone"
                    />
                    <div class="title col-12 d-inline-block text-truncate">Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone</div>
                </div>
                <!-- /.swiper-slide -->

                <div
                    class="swiper-slide"
                    data-fancybox="gallery"
                    data-caption="Jiangsu Science and Technology-based Small and Medium-sized Enterprises"
                    data-src="{% static 'assets/images/honors/Jiangsu Science and Technology-based Small and Medium-sized Enterprises.jpg' %}"
                >
                    <img
                        src="{% static 'assets/images/honors/Jiangsu Science and Technology-based Small and Medium-sized Enterprises.jpg' %}"
                        alt="Jiangsu Science and Technology-based Small and Medium-sized Enterprises"
                        title="Jiangsu Science and Technology-based Small and Medium-sized Enterprises"
                    />
                    <div class="title col-12 d-inline-block text-truncate">Jiangsu Science and Technology-based Small and Medium-sized Enterprises</div>
                </div>
                <!-- /.swiper-slide -->

                <!-- <div
                    class="swiper-slide"
                    data-fancybox="gallery"
                    data-caption="Jinji Lake Double Hundred Talent Program for Science and Technology Leaders"
                    data-src="assets/images/honors/Jinji Lake Double Hundred Talent Program for Science and Technology Leaders.jpg"
                >
                    <img
                        src="assets/images/honors/Jinji Lake Double Hundred Talent Program for Science and Technology Leaders.jpg"
                        alt="Jinji Lake Double Hundred Talent Program for Science and Technology Leaders"
                        title="Jinji Lake Double Hundred Talent Program for Science and Technology Leaders"
                    />
                    <div class="title col-12 d-inline-block text-truncate">Jinji Lake Double Hundred Talent Program for Science and Technology Leaders</div>
                </div> -->
                <!-- /.swiper-slide -->

                <div
                    class="swiper-slide"
                    data-fancybox="gallery"
                    data-caption="Listed nursery company in Suzhou Industrial Park"
                    data-src="{% static 'assets/images/honors/Listed nursery company in Suzhou Industrial Park.jpg' %}"
                >
                    <img
                        src="{% static 'assets/images/honors/Listed nursery company in Suzhou Industrial Park.jpg' %}"
                        alt="Listed nursery company in Suzhou Industrial Park"
                        title="Listed nursery company in Suzhou Industrial Park"
                    />
                    <div class="title col-12 d-inline-block text-truncate">Listed nursery company in Suzhou Industrial Park</div>
                </div>
                <!-- /.swiper-slide -->


                <div
                    class="swiper-slide"
                    data-fancybox="gallery"
                    data-caption="National High-tech Enterprise"
                    data-src="{% static 'assets/images/honors/National High-tech Enterprise.jpg' %}"
                >
                    <img
                        src="{% static 'assets/images/honors/National High-tech Enterprise.jpg' %}"
                        alt="National High-tech Enterprise"
                        title="National High-tech Enterprise"
                    />
                    <div class="title col-12 d-inline-block text-truncate">National High-tech Enterprise</div>
                </div>
                <!-- /.swiper-slide -->
            </div>
        </div>
    </div>
</section>
<!--Brand One End-->


<!--Our Mission Start-->
<section class="our-mission" id="medicine">
    <div class="our-mission-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url({% static 'assets/images/backgrounds/mountains.png' %})"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 pb-5">
                <div class="our-mission__inner">
                    <h2 class="our-mission__title wow fadeInRight">
                        {% translate "Bizning Dorilar" %} <br />
                    </h2>
                    <div class='our-mission__btn'>
                        <img class='img-fluid wow fadeInUp' data-wow-delay="300ms" width='70%' src="{% static 'assets/images/shapes/beauty-line.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Mission End-->

<!--Financial Advice Start-->
<section class="financial-advice">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 wow fadeInUp">
                <div class="financial-advice__box tabs-box">
                    <ul class="tab-btns tab-buttons clearfix list-unstyled">
                        <li data-tab="#onvita" class="tab-btn active-btn"><span>Onvita</span></li>
                        <li data-tab="#longvita" class="tab-btn"><span>Longvita</span></li>
                        <!-- <li data-tab="#gobal" class="tab-btn"><span>Gobal Solutions</span></li> -->
                    </ul>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="onvita">
                            <div class="financial-advice__content">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1">
                                            <ul class="list-unstyled financial-advice__list-box">
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">Highest Success Rates</h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum nibh vel velit auctor aliqu. Aenean sollic tudin, lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">We build experience</h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum nibh vel velit auctor aliqu. Aenean sollic tudin, lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-2">
                                            <p class="financial-advice_-desc">
                                                There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form injected humour or
                                                randomised words which don't look believable.
                                            </p>
                                            <ul class="list-unstyled financial-advice__list-box-2">
                                                <li>If you are going to use a passage</li>
                                                <li>Lorem Ipsum you need to be sure</li>
                                                <li>There isn't anything embarrassing</li>
                                                <li>Hidden in the middle of text</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-3">
                                            <div class="financial-advice__img">
                                                <img src="{% static 'assets/images/medicine/onvita-present.png' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab" id="longvita">
                            <div class="financial-advice__content">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1">
                                            <ul class="list-unstyled financial-advice__list-box">
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">Highest Success Rates</h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum nibh vel velit auctor aliqu. Aenean sollic tudin, lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="financial-advice__icon">
                                                        <span class="icon-checkmark"></span>
                                                    </div>
                                                    <div class="financial-advice__list-box-content">
                                                        <h3 class="finalcial-advice__list-box-title">We build experience</h3>
                                                        <p class="finalcial-advice__list-box-text">
                                                            Lorem Ipsum nibh vel velit auctor aliqu. Aenean sollic tudin, lorem is simply free text quis bibendum.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-2">
                                            <p class="financial-advice_-desc">
                                                There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form injected humour or
                                                randomised words which don't look believable.
                                            </p>
                                            <ul class="list-unstyled financial-advice__list-box-2">
                                                <li>If you are going to use a passage</li>
                                                <li>Lorem Ipsum you need to be sure</li>
                                                <li>There isn't anything embarrassing</li>
                                                <li>Hidden in the middle of text</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <div class="financial-advice__single-1 financial-advice__single-3">
                                            <div class="financial-advice__img">
                                                <img src="{% static 'assets/images/medicine/longvita-present.png' %}" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center mt-5 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <a href="{% url 'coming-soon' %}" class="thm-btn custom-btn mx-auto">
                    {% translate "Barchasi" %}
                </a>
            </div>
        </div>
    </div>
</section>
<!--Financial Advice End-->



<!--FAQS Page Start-->
<section class="faqs-page" id="faq">
    <div class="container">
        <div class="section-title text-center wow fadeInDown">
            <h2 class="section-title__title">{% translate "Savol Javoblar" %}</h2>
            <span class="section-title__tagline">{% translate "Agarda qushimcha savollaringiz bo'lsa, Biz bilan bog'laning" %}</span>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                    <div class="accrodion wow fadeInRight" data-wow-delay="200ms">
                        <div class="accrodion-title">
                            <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                                </p>
                            </div>
                            <!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion active wow fadeInRight" data-wow-delay="300ms">
                        <div class="accrodion-title">
                            <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                                </p>
                            </div>
                            <!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion wow fadeInRight" data-wow-delay="400ms">
                        <div class="accrodion-title">
                            <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                                </p>
                            </div>
                            <!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion wow fadeInRight" data-wow-delay="500ms">
                        <div class="accrodion-title">
                            <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                                </p>
                            </div>
                            <!-- /.inner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FAQS Page End-->

<!--CTA One Start-->
<section class="cta-one wow zoomIn" data-wow-delay="100ms">
    <div class="cta-one-bg" style="background-image: url({% static 'assets/images/backgrounds/cta-one-bg.png' %})"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__left">
                        <h2 class="cta-one__title">
                            {% translate "Hali ham savollaringiz bormi?" %}
                        </h2>
                    </div>
                    <div class="cta-one__right">
                        <a href="{% url 'coming-soon' %}" class="thm-btn cta-one__btn">{% translate "Biz bilan bog'lanish" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->

<!--News One Start-->
<section class="news-one" id="news">
    <div class="container">
        <div class="section-title text-center wow fadeInUp" data-wow-delay="200ms">
            <h2 class="section-title__title">{% translate "Yangiliklar" %}</h2>
            <span class="section-title__tagline">{% translate "Biz nima qilayotganimizni ko'ring" %}</span>
        </div>
        <div class="row">
            {% for single in news %}
                {% include "components/news_single.html" with news=single %}
            {% endfor %}
        </div>
        {% if news|length > 4 %}
        <div class="w-100 text-center mt-5 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <a href="{% url 'news-all' %}" class="thm-btn mx-auto">
                {% translate "Barchasi" %}
            </a>
        </div>
        {% endif %}
    </div>
</section>
<!--News One End-->

{% endblock content %}