{% extends "base.html" %}
{% load static %}
{% load i18n %} 

{% block title %}{% translate "Bosh sahifa" %} || {% translate "Vigonvita Toshkent" %}{% endblock title %}

{% block content %}

{% include "sections/main-slider.html" %}
{% include "sections/about.html" %}
{% include "sections/certificates-patents.html" %}
{% include "sections/medicine.html" %}
{% include "sections/faq.html" %}

<section class="cta-one wow zoomIn" data-wow-delay="100ms">
    <div class="cta-one-bg" style="background-image: url({% static 'assets/images/backgrounds/cta-one-bg.png' %})"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__left">
                        <h2 class="cta-one__title">
                            {% translate "Hali ham savollaringiz bormi?" %}
                        </h2>
                    </div>
                    <div class="cta-one__right">
                        <a href="{% url 'coming-soon' %}" class="thm-btn cta-one__btn">{% translate "Biz bilan bog'lanish" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--News One End-->

{% endblock content %}