{% extends "base.html" %}
{% load static %}
{% load i18n %} 

{% block title %}{% translate "Yangiliklar" %} || {% translate "Vigonvita Toshkent" %}{% endblock title %}

{% block content %}

<section class="page-header">
    <div class="page-header__bg" style='background-image: url({% static 'assets/images/backgrounds/mountains.png' %});'></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% url "home" %}">{% translate "Bosh sahifa" %}</a></li>
                <li><span>/</span></li>
                <li>{% translate "Yangiliklar" %}</li>
            </ul>
            <h2>{% translate "Yangiliklar" %}</h2>
        </div>
    </div>
</section>

<!--News Start-->
<section class="news-one">
    <div class="container">
        <div class="row">
            {% for single in news %}
                {% include "components/news_single.html" with news=single %}
            {% endfor %}
        </div>
    </div>
</section>
<!--News End-->

{% endblock content %}