/* :root {
	--thm-primary: #3c72fc;
	--thm-primary-rgb: 60, 114, 252;
} */

:root {
	--thm-primary: #e89529;
	--thm-primary-rgb: 232, 149, 41;
}

/* :root {
	--thm-primary: #D66438;
	--thm-primary-rgb: 214, 100, 56;
} */