{% load static %}
{% load i18n %}

<section class="real-world">
    <div class="real-world-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms"
        style="background-image: url({% static 'assets/images/shapes/real-world-shape.png' %})"></div>
    <div class="container">
        <div class="section-title text-center wow fadeInDown" data-wow-delay="200ms">
            <h2 class="section-title__title">{% translate "Litsenziyalar & Patentlar" %}</h2>
            <span class="section-title__tagline">{% translate "Kompaniyamizning Litsenziyalari va Patentlari" %}</span>
        </div>

        <div class="row certificates">
            <div class="col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="200ms">
                <div class="shop-one__item">
                    <div class="shop-one__image" data-fancybox="gallery" data-caption="Business license"
                        data-src="{% static 'assets/images/certificate/bussiness-permission.png' %}">
                        <!-- <span class="shop-one__sale">sale</span>/.shop-one__sale -->
                        <img src="{% static 'assets/images/certificate/bussiness-permission.png' %}"
                            alt="Business license" />
                        <!-- <a href="cart.html" class="thm-btn shop-one__cart">Add to cart</a> -->
                        <!-- /.thm-btn shop-one__cart -->
                    </div>
                    <!-- /.shop-one__image -->
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title"><a href="javascript:void(0)">Business license</a></h3>
                    </div>
                    <!-- /.shop-one__content -->
                </div>
                <!-- /.shop-one__item -->
            </div>
            <!-- /.col-md-6 col-lg-3 -->

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="shop-one__item">
                    <div class="shop-one__image" data-fancybox="gallery"
                        data-caption="Pharmaceutical Manufacturing License"
                        data-src="{% static 'assets/images/certificate/bussiness-permission2.png' %}">
                        <!-- <span class="shop-one__sale">sale</span>/.shop-one__sale -->
                        <img src="{% static 'assets/images/certificate/bussiness-permission2.png' %}"
                            alt="Pharmaceutical Manufacturing License" />
                        <!-- <a href="cart.html" class="thm-btn shop-one__cart">Add to cart</a> -->
                        <!-- /.thm-btn shop-one__cart -->
                    </div>
                    <!-- /.shop-one__image -->
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title"><a href="javascript:void(0)">Pharmaceutical Manufacturing License</a></h3>
                    </div>
                    <!-- /.shop-one__content -->
                </div>
                <!-- /.shop-one__item -->
            </div>
            <!-- /.col-md-6 col-lg-3 -->



        </div>
    </div>
</section>

<section class="brand-one">
    <div class="container">
        <h4 class="brand-one__title wow fadeInDown" data-wow-delay="200ms">{% translate "Unvonlar va Yutuqlar" %}</h4>
        <div class="thm-swiper__slider swiper-container wow fadeInDown" data-wow-delay="200ms" data-swiper-options='
  {"spaceBetween": 100, 
  "slidesPerView": 5, 
  "autoplay": { "delay": 5000 }, 
  "pagination": {
  "type": "bullets",
  "clickable": true
  },
  "breakpoints": {
      "0": {
          "spaceBetween": 30,
          "slidesPerView": 2
      },
      "375": {
          "spaceBetween": 30,
          "slidesPerView": 2
      },
      "575": {
          "spaceBetween": 30,
          "slidesPerView": 3
      },
      "767": {
          "spaceBetween": 50,
          "slidesPerView": 4
      },
      "991": {
          "spaceBetween": 50,
          "slidesPerView": 4
      },
      "1199": {
          "spaceBetween": 50,
          "slidesPerView": 4
      }
  }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-fancybox="gallery"
                    data-caption="Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone"
                    data-src="{% static 'assets/images/honors/Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone.jpg' %}">
                    <img src="{% static 'assets/images/honors/Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone.jpg' %}"
                        alt="Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone"
                        title="Gazelle Enterprises in Southern Jiangsu National Innovation Demonstration Zone" />
                    <div class="title col-12 d-inline-block text-truncate">Gazelle Enterprises in Southern Jiangsu
                        National Innovation Demonstration Zone</div>
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide" data-fancybox="gallery"
                    data-caption="Jiangsu Science and Technology-based Small and Medium-sized Enterprises"
                    data-src="{% static 'assets/images/honors/Jiangsu Science and Technology-based Small and Medium-sized Enterprises.jpg' %}">
                    <img src="{% static 'assets/images/honors/Jiangsu Science and Technology-based Small and Medium-sized Enterprises.jpg' %}"
                        alt="Jiangsu Science and Technology-based Small and Medium-sized Enterprises"
                        title="Jiangsu Science and Technology-based Small and Medium-sized Enterprises" />
                    <div class="title col-12 d-inline-block text-truncate">Jiangsu Science and Technology-based Small
                        and Medium-sized Enterprises</div>
                </div>
                <!-- /.swiper-slide -->

                <!-- <div
                  class="swiper-slide"
                  data-fancybox="gallery"
                  data-caption="Jinji Lake Double Hundred Talent Program for Science and Technology Leaders"
                  data-src="assets/images/honors/Jinji Lake Double Hundred Talent Program for Science and Technology Leaders.jpg"
              >
                  <img
                      src="assets/images/honors/Jinji Lake Double Hundred Talent Program for Science and Technology Leaders.jpg"
                      alt="Jinji Lake Double Hundred Talent Program for Science and Technology Leaders"
                      title="Jinji Lake Double Hundred Talent Program for Science and Technology Leaders"
                  />
                  <div class="title col-12 d-inline-block text-truncate">Jinji Lake Double Hundred Talent Program for Science and Technology Leaders</div>
              </div> -->
                <!-- /.swiper-slide -->

                <div class="swiper-slide" data-fancybox="gallery"
                    data-caption="Listed nursery company in Suzhou Industrial Park"
                    data-src="{% static 'assets/images/honors/Listed nursery company in Suzhou Industrial Park.jpg' %}">
                    <img src="{% static 'assets/images/honors/Listed nursery company in Suzhou Industrial Park.jpg' %}"
                        alt="Listed nursery company in Suzhou Industrial Park"
                        title="Listed nursery company in Suzhou Industrial Park" />
                    <div class="title col-12 d-inline-block text-truncate">Listed nursery company in Suzhou Industrial
                        Park</div>
                </div>
                <!-- /.swiper-slide -->


                <div class="swiper-slide" data-fancybox="gallery" data-caption="National High-tech Enterprise"
                    data-src="{% static 'assets/images/honors/National High-tech Enterprise.jpg' %}">
                    <img src="{% static 'assets/images/honors/National High-tech Enterprise.jpg' %}"
                        alt="National High-tech Enterprise" title="National High-tech Enterprise" />
                    <div class="title col-12 d-inline-block text-truncate">National High-tech Enterprise</div>
                </div>
                <!-- /.swiper-slide -->
            </div>
        </div>
    </div>
</section>