{% load static %}
{% load i18n %} 

<!--Locations Start-->
<section class="locations" id='contact'>
  <div class="container">
      <div class="location__inner">
          <div class="section-title text-center">
              <h2 class="section-title__title">{% translate "Biz bilan bog'lanish" %}</h2>
          </div>
          <div class="row">
              <div class="col-12 wow fadeInUp" data-wow-delay="300ms"
                  data-wow-duration="1500ms">
                  <!--Locations Single-->
                  <div class="locations__single">
                    <h3 class="locations__title text-center">{% translate "Kompaniyasining O'zbekistondagi vakolatxonasi" %}</h3>
                    <h4 class="locations__mail-phone-box text-center">
                      <p class="locations__text text-center"><b>Адрес:</b> Узбекистан, Город: Ташкент, Район: Юнусабадский, ул. Сохибкор, 2</p>
                      <a href="tel:+998-99-329-6711" class="locations__phone text-center">Тел: +998 99 329 67 11</a>
                    </h4>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-12 wow fadeInUp" data-wow-delay="0ms"
                  data-wow-duration="1500ms">
                  <!--Locations Single-->
                  <div class="locations__single">
                      <h3 class="locations__title text-center">{% translate "Direktor" %}</h3>
                      <h4 class="locations__mail-phone-box text-center">
                          <a href="mailto:ju.zhou@vigonvita.cn" class="locations__mail">ju.zhou@vigonvita.cn</a>
                          <a href="tel:+998-99-840-7799" class="locations__phone">+998 99 840 7799</a>
                      </h4>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-12 wow fadeInUp" data-wow-delay="300ms"
                  data-wow-duration="1500ms">
                  <!--Locations Single-->
                  <div class="locations__single">
                      <h3 class="locations__title text-center">{% translate "Menejer" %}</h3>
                      <h4 class="locations__mail-phone-box text-center">
                          <a href="mailto:irisbayev.m@gmail.com" class="locations__mail">irisbayev.m@gmail.com</a>
                          <a href="tel:+998-90-988-3008" class="locations__phone">+998 90 988 3008</a>
                      </h4>
                  </div>
              </div>
              <div class="col-12 wow fadeInUp" data-wow-delay="300ms"
                  data-wow-duration="1500ms">
                  <!--Locations Single-->
                  <div class="locations__single">
                    <h3 class="locations__title text-center">{% translate "Xitoydagi Bosh Ofis" %}</h3>
                    <h4 class="locations__mail-phone-box text-center">
                      <p class="locations__text ">{% translate "Toshkent shahri, Yunusobod tumani, Axilobod MFY, 13 mavzesi, 45 uy" %}</p>
                      <a href="https://vigonvita.cn" class="locations__mail">{% translate "Web-sayt:" %} vigonvita.cn</a>
                      <a href="mailto:zhenshan.zhang@vigonvita.cn" class="locations__phone">{% translate "Savdo bo'limi boshlig'i:" %} zhenshan.zhang@vigonvita.cn</a>
                      <a href="mailto:suwei.ma@vigonvita.cn" class="locations__phone">{% translate "Savdo bo'limi direktori:" %} suwei.ma@vigonvita.cn</a>
                    </h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Locations End-->