{% load static %}
{% load i18n %} 

<!--FAQS Page Start-->
<section class="faqs-page" id="faq">
  <div class="container">
      <div class="section-title text-center wow fadeInDown">
          <h2 class="section-title__title">{% translate "Savol Javoblar" %}</h2>
          <span class="section-title__tagline">{% translate "Agarda qushimcha savollaringiz bo'lsa, Biz bilan bog'laning" %}</span>
      </div>
      <div class="row">
          <div class="col-xl-12">
              <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                  <div class="accrodion wow fadeInRight" data-wow-delay="200ms">
                      <div class="accrodion-title">
                          <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                      </div>
                      <div class="accrodion-content">
                          <div class="inner">
                              <p>
                                  Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                              </p>
                          </div>
                          <!-- /.inner -->
                      </div>
                  </div>
                  <div class="accrodion active wow fadeInRight" data-wow-delay="300ms">
                      <div class="accrodion-title">
                          <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                      </div>
                      <div class="accrodion-content">
                          <div class="inner">
                              <p>
                                  Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                              </p>
                          </div>
                          <!-- /.inner -->
                      </div>
                  </div>
                  <div class="accrodion wow fadeInRight" data-wow-delay="400ms">
                      <div class="accrodion-title">
                          <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                      </div>
                      <div class="accrodion-content">
                          <div class="inner">
                              <p>
                                  Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                              </p>
                          </div>
                          <!-- /.inner -->
                      </div>
                  </div>
                  <div class="accrodion wow fadeInRight" data-wow-delay="500ms">
                      <div class="accrodion-title">
                          <h4><span>.</span> Lorem ipsum dolor sit amet?</h4>
                      </div>
                      <div class="accrodion-content">
                          <div class="inner">
                              <p>
                                  Sed ornare efficitur rutrum. Donec ac lectus neque. Fusce at tempus lacus. Nulla quis dictum tortor, et mattis nunc. Nulla non varius ex. Morbi accumsan erat at erat pulvinar fermentum. Integer tempor, mi vel egestas tristique, justo mi luctus justo, non facilisis leo neque sit amet justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ullamcorper hendrerit vestibulum.
                              </p>
                          </div>
                          <!-- /.inner -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--FAQS Page End-->