{% load static %}
{% load i18n %}

<section class="news-one">
    <div class="real-world-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms"
        style="background-image: url({% static 'assets/images/shapes/real-world-shape.png' %})"></div>
    <div class="container">
        <div class="section-title text-center wow fadeInDown" data-wow-delay="200ms">
            <h2 class="section-title__title">{% translate "Kompaniyamizning media ma'lumotlari" %}</h2>
            <span class="section-title__tagline">{% translate "Rasm & Video" %}</span>
        </div>

        <div class="row certificates">

            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="shop-one__item">
                    <div class="shop-one__image">
                        <a data-fancybox data-caption="{% translate "Vigonvita Tashkent - Firma Haqida" %}" href="https://www.youtube.com/embed/3jf0HUUjGGE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                            <img src="https://img.youtube.com/vi/3jf0HUUjGGE/maxresdefault.jpg"
                            alt="{% translate "Vigonvita Tashkent - Firma Haqida" %}" />
                        </a>
                        <a data-fancybox data-caption="{% translate "Vigonvita Tashkent - Firma Haqida" %}" href="https://www.youtube.com/embed/3jf0HUUjGGE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="thm-btn shop-one__cart py-2">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                        </a>
                    </div>
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title" style="color: #000"><a href="javascript:void(0)">{% translate "Vigonvita Tashkent - Firma Haqida" %}</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="shop-one__item">
                    <div class="shop-one__image">

                        <a data-fancybox data-caption="{% translate "Vigonvita Tashkent - 2023 O'zbekiston Urologlar kongresi" %}" href="https://www.youtube.com/embed/I6YsP_9FMZ8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                            <img src="https://img.youtube.com/vi/I6YsP_9FMZ8/maxresdefault.jpg"
                            alt="Vigonvita Tashkent - 2023 O'zbekiston Urologlar kongresi" />
                        </a>
                        <a data-fancybox data-caption="{% translate "Vigonvita Tashkent - 2023 O'zbekiston Urologlar kongresi" %}" href="https://www.youtube.com/embed/I6YsP_9FMZ8&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="thm-btn shop-one__cart py-2">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                        </a>
                    </div>
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title" style="color: #000"><a href="javascript:void(0)">{% translate "Vigonvita Tashkent - 2023 O'zbekiston Urologlar kongresi" %}</a></h3>
                    </div>
                </div>
            </div>

            <div class="my-4 col-12"></div>

            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="shop-one__item">
                    <div class="shop-one__image">
                        <a data-fancybox 
                            data-caption="{% translate "Vigonvita Tashkent - 24 chi Butunjahon Jinsiy Tibbiyot Kongresi" %}" 
                            href="https://www.youtube.com/embed/2_w_apAJgEo&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                            <img src="https://img.youtube.com/vi/2_w_apAJgEo/maxresdefault.jpg"
                            alt="{% translate "Vigonvita Tashkent - 24 chi Butunjahon Jinsiy Tibbiyot Kongresi" %}" />
                        </a>
                        <a data-fancybox data-caption="{% translate "Vigonvita Tashkent - 24 chi Butunjahon Jinsiy Tibbiyot Kongresi" %}" href="https://www.youtube.com/embed/2_w_apAJgEo&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="thm-btn shop-one__cart py-2">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                        </a>
                    </div>
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title" style="color: #000"><a href="javascript:void(0)">{% translate "Vigonvita Tashkent - 24 chi Butunjahon Jinsiy Tibbiyot Kongresi" %}</a></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="shop-one__item">
                    <div class="shop-one__image">
                        <a data-fancybox 
                            data-caption="{% translate "Vigonvita Tashkent - Shavaxabov Ma'ruzasi" %}" 
                            href="https://www.youtube.com/embed/IFLlOh3kYV4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
                            <img src="https://img.youtube.com/vi/IFLlOh3kYV4/maxresdefault.jpg"
                            alt="{% translate "Vigonvita Tashkent - Shavaxabov Ma'ruzasi" %}" />
                        </a>
                        <a data-fancybox data-caption="{% translate "Vigonvita Tashkent - Shavaxabov Ma'ruzasi" %}" href="https://www.youtube.com/embed/IFLlOh3kYV4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" class="thm-btn shop-one__cart py-2">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                        </a>
                    </div>
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title" style="color: #000"><a href="javascript:void(0)">{% translate "Vigonvita Tashkent - Shavaxabov Ma'ruzasi" %}</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container-fluid">
      <div class="row pb-5">
        <div class="col-12 col-lg-8 py-5">
          <div class="swiper overflow-hidden py-5 " id="swiper-photos">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/2.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/3.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/4.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/5.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/6.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/7.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/8.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/9.jpg' %}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="img-fluid rounded shadow" src="{% static 'assets/images/dubai/13.jpg' %}" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          <div class="text-center px-4">
            <h2 class="display-5 fw-bold">
              {% translate "Jinsiy tibbiyot bo'yicha 24-Jahon kongressida ishtirokimiz" %}
            </h2>
            <p class="lead">
              {% translate "2023 yil 15-17 dekabr kunlari Dubay (BAA)" %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <style>
    #swiper-photos {
        position: relative;
      }
      
      /* Left Fade */
      #swiper-photos::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;           /* Adjust width for how far the fade extends */
        height: 100%;
        z-index: 10;
        pointer-events: none;
        background: linear-gradient(to right, 
        #f8f9fa, 
                                    rgba(255, 255, 255, 0));
      }
      
      /* Right Fade */
      #swiper-photos::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;           /* Adjust width as needed */
        height: 100%;
        z-index: 10;
        pointer-events: none;
        background: linear-gradient(to left, 
        #f8f9fa, 
                                    rgba(255, 255, 255, 0));
      }
    #swiper-photos .swiper-wrapper {
        height: 400px; /* Adjust to your preferred height */
        display: flex;
        align-items: center;
      }
      
      #swiper-photos .swiper-slide {
        width: 300px; /* Adjust as needed for your layout */
        height: 400px; 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgb(0, 0, 0);
      }
      
      /* Make the image fill the slide area uniformly */
      #swiper-photos .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px; /* Optional for rounded corners */
        box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Optional subtle shadow */
      }
      #swiper-photos .swiper-slide {
        filter: brightness(0.7);
      }
      
      #swiper-photos .swiper-slide-active,
      #swiper-photos .swiper-slide-duplicate-active {
        filter: brightness(1);
      }
      
  </style>
  