{% load static %}
{% load i18n %} 

<!--Our Mission Start-->
<section class="our-mission" id="medicine">
  <div class="our-mission-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url({% static 'assets/images/backgrounds/mountains.png' %})"></div>
  <div class="container">
      <div class="row">
          <div class="col-xl-12 pb-5">
              <div class="our-mission__inner">
                  <h2 class="our-mission__title wow fadeInRight">
                      {% translate "Bizning Dorilar" %} <br />
                  </h2>
                  <div class='our-mission__btn'>
                      {% comment %} <img class='img-fluid wow fadeInUp' data-wow-delay="300ms" width='70%' src="{% static 'assets/images/shapes/beauty-line.png' %}" alt=""> {% endcomment %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Our Mission End-->

<!--Financial Advice Start-->
<section class="financial-advice">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 wow fadeInUp">
              <div class="financial-advice__box tabs-box">
                  <ul class="tab-btns tab-buttons clearfix list-unstyled">
                      <li data-tab="#onvita" class="tab-btn"><span>Onvita</span></li>
                      <li data-tab="#longvita" class="tab-btn"><span>Longvita</span></li>
                      <!-- <li data-tab="#gobal" class="tab-btn"><span>Gobal Solutions</span></li> -->
                  </ul>
                  <div class="tabs-content">
                      <div class="tab active-tab">
                          <div class="financial-advice__content">
                              <div class="row">
                                  <div class="col-xl-6 col-lg-6">
                                      <div class="financial-advice__single-1 financial-advice__single-3">
                                        <div class="financial-advice__img">
                                            <img src="{% static 'assets/images/medicine/onvita-present2.png' %}" alt=""/>
                                        </div>
                                      </div>
                                      <ul class="list-unstyled financial-advice__list-box">
                                        <li>
                                            <div class="financial-advice__icon">
                                                <span class="icon-checkmark"></span>
                                            </div>
                                            <div class="financial-advice__list-box-content">
                                                <h3 class="finalcial-advice__list-box-title">Highest Success Rates</h3>
                                                <p class="finalcial-advice__list-box-text">
                                                    Lorem Ipsum nibh vel velit auctor aliqu. Aenean sollic tudin, lorem is simply free text quis bibendum.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="financial-advice__icon">
                                                <span class="icon-checkmark"></span>
                                            </div>
                                            <div class="financial-advice__list-box-content">
                                                <h3 class="finalcial-advice__list-box-title">We build experience</h3>
                                                <p class="finalcial-advice__list-box-text">
                                                    Lorem Ipsum nibh vel velit auctor aliqu. Aenean sollic tudin, lorem is simply free text quis bibendum.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="financial-advice__single-1 financial-advice__single-2">
                                        <p class="financial-advice_-desc">
                                            There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form injected humour or
                                            randomised words which don't look believable.
                                        </p>
                                        <ul class="list-unstyled financial-advice__list-box-2">
                                            <li>If you are going to use a passage</li>
                                            <li>Lorem Ipsum you need to be sure</li>
                                            <li>There isn't anything embarrassing</li>
                                            <li>Hidden in the middle of text</li>
                                        </ul>
                                    </div>
                                  </div>
                                  <!-- <div class="col-xl-4 col-lg-4">
                                      <div class="financial-advice__single-1 financial-advice__single-2">
                                          <p class="financial-advice_-desc">
                                              There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form injected humour or
                                              randomised words which don't look believable.
                                          </p>
                                          <ul class="list-unstyled financial-advice__list-box-2">
                                              <li>If you are going to use a passage</li>
                                              <li>Lorem Ipsum you need to be sure</li>
                                              <li>There isn't anything embarrassing</li>
                                              <li>Hidden in the middle of text</li>
                                          </ul>
                                      </div>
                                  </div> -->
                                  <div class="col-xl-6 col-lg-6">
                                      <div class="financial-advice__single-1 financial-advice__single-3">
                                          <div class="financial-advice__img">
                                              <img src="{% static 'assets/images/medicine/longvita-present2.png' %}" alt=""/>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="w-100 text-center mt-5 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <a href="{% url 'coming-soon' %}" class="thm-btn custom-btn mx-auto">
                  {% translate "Barchasi" %}
              </a>
          </div>
      </div>
  </div>
</section>
<!--Financial Advice End-->