{% extends "base.html" %}
{% load static %}
{% load i18n %} 

{% block title %}{% translate "Tez kunlarda" %}{% endblock title %}

{% block content %}

<!--News One Start-->
<section class="coming-soon bg-dark" style="height: 100vh; background-image: url({% static 'assets/images/backgrounds/main-menu-slider.png' %})">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex justify-content-center align-items-center">
                <h1 class="display-1">{% translate "Tez kunlarda" %}</h1>
            </div>
        </div>
    </div>
</section>
<!--News One End-->

{% endblock content %}