{% load i18n %}
{% load l10n %}
{% load custom_tags %}

<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
    <!--News One Single-->
    <div class="news-one__single">
        <div class="news-one__img">
            <img src="{{ news.image.url }}" alt="" />
            <a href="{{ news.get_absolute_url }}">
                <span class="news-one__plus" style="transform: rotateZ(-45deg);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 448 512">
                        <path fill="#fff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                    </svg>
                </span>
            </a>
        </div>
        <div class="news-one__content">
            <ul class="list-unstyled news-one__meta">
                <li>
                    <a href="{{ news.get_absolute_url }}"><i class="far fa-eye"></i> {{ news.views }} {% translate "Ko'rishlar" %}</a>
                </li>
            </ul>
            <h3 class="news-one__title">
                <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
            </h3>
            <p class="news-one__text">{{ news.content|short_description:100 }}</p>
            <a href="{{ news.get_absolute_url }}" class="news-one__btn">{% translate "Batafsil" %}</a>
            <div class="news-one__date-box">
                <p>
                    {% localize on %}
                        {{ news.created_at|date:"j M" }}
                    {% endlocalize %}
                </p>
            </div>
        </div>
    </div>
</div>